Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy>=1.9.2
scipy>=0.15.1
scikit-learn>=0.18
matplotlib>=1.4.3
pandas>=0.19
transformers~=2.8.0
wget
# torch
jmespath~=0.9.4
docutils~=0.15.2
pathlib~=1.0.1
pip~=20.0.2
wheel~=0.34.2
google~=2.0.3
pytz~=2019.3
tqdm~=4.45.0
Keras~=2.3.1
ipywidgets~=7.5.1
ipython~=7.13.0
notebook~=6.0.3
botocore~=1.14.8
boto3~=1.11.8
s3transfer~=0.3.2
Click~=7.0
setuptools~=41.2.0
regex~=2020.4.4
Pillow~=7.1.1
joblib~=0.14.1
tornado~=6.0.4
cloudpickle~=1.3.0
python-dateutil~=2.8.1
certifi~=2019.11.28
chardet~=3.0.4
sklearn~=0.0
urllib3~=1.24.3
six~=1.14.0
Pygments~=2.6.1
dominate~=2.5.1
idna~=2.7
termcolor~=1.1.0
cycler~=0.10.0
ipykernel~=5.2.0
pyparsing~=2.4.6
kiwisolver~=1.1.0
sacremoses~=0.0.35
tensorflow
torch~=1.5.0
requests~=2.20.0
h5py~=2.10.0
sentencepiece~=0.1.86
visitor~=0.1.3
fastai